<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cellClass</key>
			<string>KRTwitterCell</string>
			<key>label</key>
			<string>Kritanta</string>
			<key>accountName</key>
			<string>_kritanta</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>KRTwitterCell</string>
			<key>label</key>
			<string>Tr1Fecta</string>
			<key>accountName</key>
			<string>FectaTr1</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.kritanta.signeprefs</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Tweak Enabled</string>
			<key>PostNotification</key>
			<string>me.kritanta.signeprefs/Prefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Appearance</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.kritanta.signeprefs</string>
			<key>key</key>
			<string>drawingEnabled</string>
			<key>label</key>
			<string>Show Drawing</string>
			<key>PostNotification</key>
			<string>me.kritanta.signeprefs/Prefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>defaults</key>
			<string>me.kritanta.signeprefs</string>
			<key>key</key>
			<string>activationGestureKey</string>
			<key>label</key>
			<string>Activation Gestures</string>
			<key>detail</key>
            <string>PSListItemsController</string>
			<key>validTitles</key>
			<array>
				<string>Volume Down + Power</string>
				<string>Volume Up/Down + Volume Down/Up</string>
			</array>
			<key>validValues</key>
			<array>
				<string>volDownPower</string>
				<string>volUpAndDown</string>
			</array>
			<key>PostNotification</key>
			<string>me.kritanta.signeprefs/Prefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Actions</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Zero</string>
			<key>icon</key>
			<string>0.png</string>
			<key>detail</key>
            <string>SIGNumberZeroController</string>
            <key>isController</key>
            <true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>One</string>
			<key>icon</key>
			<string>1.png</string>
			<key>detail</key>
            <string>SIGNumberOneController</string>
            <key>isController</key>
            <true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Two</string>
			<key>icon</key>
			<string>2.png</string>
			<key>detail</key>
            <string>SIGNumberTwoController</string>
            <key>isController</key>
            <true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Three</string>
			<key>icon</key>
			<string>3.png</string>
			<key>detail</key>
            <string>SIGNumberThreeController</string>
            <key>isController</key>
            <true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Four</string>
			<key>icon</key>
			<string>4.png</string>
			<key>detail</key>
            <string>SIGNumberFourController</string>
            <key>isController</key>
            <true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Five</string>
			<key>icon</key>
			<string>5.png</string>
			<key>detail</key>
            <string>SIGNumberFiveController</string>
            <key>isController</key>
            <true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Six</string>
			<key>icon</key>
			<string>6.png</string>
			<key>detail</key>
            <string>SIGNumberSixController</string>
            <key>isController</key>
            <true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Seven</string>
			<key>icon</key>
			<string>7.png</string>
			<key>detail</key>
            <string>SIGNumberSevenController</string>
            <key>isController</key>
            <true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Eight</string>
			<key>icon</key>
			<string>8.png</string>
			<key>detail</key>
            <string>SIGNumberEightController</string>
            <key>isController</key>
            <true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Nine</string>
			<key>icon</key>
			<string>9.png</string>
			<key>detail</key>
            <string>SIGNumberNineController</string>
            <key>isController</key>
            <true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>The beginning of something more?</string>
		</dict>
	</array>
	<key>title</key>
	<string>Signe</string>
</dict>
</plist>
