<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cellClass</key>
			<string>KRTwitterCell</string>
			<key>label</key>
			<string>Kritanta</string>
			<key>accountName</key>
			<string>_kritanta</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>KRTwitterCell</string>
			<key>label</key>
			<string>Tr1Fecta</string>
			<key>accountName</key>
			<string>FectaTr1</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Tweak Enabled</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.kritanta.signeprefs</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enabled</string>
			<key>PostNotification</key>
			<string>me.kritanta.signeprefs/Prefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Actions</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>defaults</key>
			<string>me.kritanta.signeprefs</string>
			<key>key</key>
			<string>one</string>
			<key>icon</key>
			<string>1.png</string>
			<key>isURL</key>
			<true/>
			<key>PostNotification</key>
			<string>me.kritanta.signeprefs/Prefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>defaults</key>
			<string>me.kritanta.signeprefs</string>
			<key>PostNotification</key>
			<string>me.kritanta.signeprefs/Prefs</string>
			<key>icon</key>
			<string>2.png</string>
			<key>key</key>
			<string>two</string>
			<key>isURL</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>icon</key>
			<string>3.png</string>
			<key>key</key>
			<string>three</string>
			<key>isURL</key>
			<true/>
			<key>defaults</key>
			<string>me.kritanta.signeprefs</string>
			<key>PostNotification</key>
			<string>me.kritanta.signeprefs/Prefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>icon</key>
			<string>4.png</string>
			<key>key</key>
			<string>four</string>
			<key>isURL</key>
			<true/>
			<key>defaults</key>
			<string>me.kritanta.signeprefs</string>
			<key>PostNotification</key>
			<string>me.kritanta.signeprefs/Prefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>icon</key>
			<string>5.png</string>
			<key>key</key>
			<string>five</string>
			<key>isURL</key>
			<true/>
			<key>defaults</key>
			<string>me.kritanta.signeprefs</string>
			<key>PostNotification</key>
			<string>me.kritanta.signeprefs/Prefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>icon</key>
			<string>6.png</string>
			<key>key</key>
			<string>six</string>
			<key>isURL</key>
			<true/>
			<key>defaults</key>
			<string>me.kritanta.signeprefs</string>
			<key>PostNotification</key>
			<string>me.kritanta.signeprefs/Prefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>icon</key>
			<string>7.png</string>
			<key>key</key>
			<string>seven</string>
			<key>isURL</key>
			<true/>
			<key>defaults</key>
			<string>me.kritanta.signeprefs</string>
			<key>PostNotification</key>
			<string>me.kritanta.signeprefs/Prefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>icon</key>
			<string>8.png</string>
			<key>key</key>
			<string>eight</string>
			<key>isURL</key>
			<true/>
			<key>defaults</key>
			<string>me.kritanta.signeprefs</string>
			<key>PostNotification</key>
			<string>me.kritanta.signeprefs/Prefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>icon</key>
			<string>9.png</string>
			<key>key</key>
			<string>nine</string>
			<key>isURL</key>
			<true/>
			<key>defaults</key>
			<string>me.kritanta.signeprefs</string>
			<key>PostNotification</key>
			<string>me.kritanta.signeprefs/Prefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>The beginning of something more?</string>
		</dict>
	</array>
	<key>title</key>
	<string>Signe</string>
</dict>
</plist>
