Package: me.kritanta.signe
Name: Signe
Depends: mobilesubstrate (>= 0.9.5000), firmware (>= 3.0), com.rpetrich.rocketbootstrap (>= 1.0.3) | firmware (<< 7.0)
Version: 0.2.0-beta
Architecture: iphoneos-arm
Description: Numeric Gestures to Open Apps and Websites
Maintainer: Tr1Fecta & Kritanta
Author: Tr1Fecta & Kritanta
Section: Tweaks
